<ion-content padding style="background-image: url('assets/imgs/fondo.jpg');   background-repeat: no-repeat; position: relative; margin-left: auto; margin-right: auto; color: white" align="center">
<br/><br/>
   <ion-item-group style="background: black; color: white;">
      <ion-item-divider color="light" style="background: black; color: white;"><b>ENEMIGOS</b></ion-item-divider>
	<div padding *ngIf="show">
      <ion-item style="background: black; color: white;">
        <ion-label floating style="background: black; color: white;">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="enemy.name" style="background: black; color: white;"></ion-input> 
      </ion-item>
      <ion-item style="background: black; color: white;">
        <ion-label floating style="background: black; color: white;" style="background: black; color: white;">Descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="enemy.desc"></ion-input>
      </ion-item>
        <button (click)="saveEnemy()" ion-button full>Guardar</button>
        <button *ngIf="idSelected != 0" (click)="removeSelectedEnemy()" ion-button full color="danger">Borrar</button>
  </div>
    <ion-list style="background: black; color: white;">
      <button ion-item *ngFor="let enemy of enemies" (click)="selectEnemy(enemy.id)" style="background: black; color: white;">
        Nombre: {{ enemy.name }} | {{enemy.desc}}
      </button>  
    </ion-list>
  <ion-fab bottom right>
      <button (click)="show = !show" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-item-group>
</ion-content>